setuptools >= 37.0.0
bleach >= 2.1.1
ftfy >= 5.1.1
Jinja2 >= 2.10
xlrd
jupyter-tensorboard
pymc3
theano 1.0.0
chainer >= 3.1.0
cupy >= 2.1.0
edward
gensim
keras
networkx
nnabla
spacy
sumy
mecab-python3
seaborn
mojimoji
python-louvain
nltk
